/* Flex */

/* Блочные элементы
h1 h2... h6
p
ul, ol, li
pre
div - division - раздел
СТРОЧНЫЕ
img
code
span - 
*/

/* Блочные и строчные теги.
display: block; - блочный элемент
display: inline; - строчный элемент

Строчные теги НЕ имеют отступов сверху и снизу, а также не могут задавать ширину и высоту. Блочные теги наоборот, могут задавать отступы, ширину и высоту. Блочные теги по умолчанию занимают всю ширину родительского элемента, а строчные - только столько, сколько нужно для их содержимого. Блочные элементы начинаются с новой строки, а строчные - нет.
*/
/* div,
span {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border: 2px solid black;
  margin: 10px;
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  overflow: scroll

} */

/* 
display
- block - блочный элемент
- inline - строчный элемент
- inline-block - строчно-блочный элемент (может задавать ширину и высоту, но не переносится на новую строку)

Свойство регулирующее за счет чего будет padding а так же что делать с вылезающими за границы элемента.
свойство box-sizing
- content-box - по умолчанию, ширина и высота элемента задают размер его контента, а padding и border добавляются к этим размерам, увеличивая общие размеры элемента.
- border-box - ширина и высота элемента включают в себя padding и border, то есть, общие размеры элемента не увеличиваются за счет padding и border. Это позволяет легче управлять размерами элементов, так как вы задаете общую ширину и высоту, а не только размер контента.

Сделали много текста. Не вмещается в квадрат.
Свойство которое скроет все что не помещается в квадрат - overflow
- visible - по умолчанию, содержимое, выходящее за границы элемента, будет видно.
- hidden - содержимое, выходящее за границы элемента, будет скрыто.
- scroll - добавляет полосы прокрутки, если содержимое выходит за границы элемента.


*/

/* 
Flex box - это модель компоновки, которая позволяет легко создавать гибкие и адаптивные макеты. Flexbox позволяет распределять пространство между элементами в контейнере и выравнивать их по различным осям.

Делается контейнер ему задается display: flex; и все его дочерние элементы становятся флекс элементами. Флекс элементы можно выравнивать по главной оси (main axis) и поперечной оси (cross axis). Главная ось по умолчанию - горизонтальная, а поперечная - вертикальная.

По умоллчанию элементы пытаются занять всю высоту контейнера.

Это можно поправить. Задать явно высоту или свойствами выравнивания.

flex-wrap - позволяет элементам переноситься на новую строку, если они не помещаются в одну строку.
-wrap - элементы переносятся на новую строку, если они не помещаются в одну строку.
nowrap - (по умолчанию) элементы не переносятся на новую строку, а сжимаются, чтобы поместиться в одну строку.
*/

/* FLEX свойства */
/* 
flex-direction - задает направление главной оси. По умолчанию - row (горизонтальная ось слева направо)
- column - вертикальная ось сверху вниз
- row-reverse - горизонтальная ось справа налево
- column-reverse - вертикальная ось снизу вверх

justify-content - выравнивание по главной оси
- flex-start - (по умолчанию) элементы выравниваются по началу глав
- center - элементы выравниваются по центру главной оси
- flex-end - элементы выравниваются по концу главной оси
- space-between - элементы распределяются с равными промежутками между ними, при этом первый элемент прижат к началу главной оси, а последний - к концу.
- space-around - элементы распределяются с равными промежутками вокруг них, при этом первый и последний элементы имеют половину промежутка от начала и конца главной оси соответственно.
- space-evenly - элементы распределяются с равными промежутками между ними, включая начало и конец главной оси.

align-items - выравнивание по поперечной оси
- stretch - (по умолчанию) элементы растягиваются, чтобы заполнить контейнер
- flex-start - элементы выравниваются по началу поперечной оси
- center - элементы выравниваются по центру поперечной оси
- flex-end - элементы выравниваются по концу поперечной оси
- baseline - элементы выравниваются по базовой линии текста

align-content - выравнивание строк по поперечной оси (только для многострочных флекс контейнеров)
....

gap - свойство для контейнера, которое задает расстояние между флекс элементами. Работает для всех направлений и не зависит от выравнивания. Можно задавать как для строк, так и для столбцов.
*/



div.container {
    flex-direction: row; /* Горизонтальная ось слева направо */
    display:flex;
    gap: 10px; /* Расстояние между флекс элементами */
    border: 2px solid black;
    background-color: lightblue;
    height: 700px;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку, если они не помещаются в одну строку. */
    justify-content: space-evenly; /* Элементы распределяются с равными промежутками между ними, при этом первый элемент прижат к началу главной оси, а последний - к концу. */
    align-items:flex-start; /* Элементы выравниваются по началу поперечной оси */
}

div.box {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    border: 2px solid black;
}